@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

/* HEADER REGISTER*/

.header-nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;

}

.logo{
    font-size: 2rem;
    color: #ffff;
    user-select: none;
}

.navegation a{
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegation a::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
}

.navegation a:hover::after{

    transform-origin: left;
    transform: scaleX(1);

}
.navegation .btnlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.btnlogin{
    color: #fff;
}
.navegation .btnlogin:hover{
    background: #fff;
    color: #333;

}


.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("cielo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}


.wraper{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0,  0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: all 500ms;
}


.wraper.active-popup{
    transform: scale(1);
}

.wraper.active{
    height: 520px;

}

.wraper h1{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.wraper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255 ,.2);
    border-radius: 40px;
    font-size: 16x;
    color: white;
    padding: 20px 45px 20px 20px;

}
.bi-lock,
.bi-person,
.bi-envelope{
    color: #fff;

}


.wraper .login{
    transition: transform .18s ease;
    transform: translateX(0);

}
.wraper.active .login{
transition: none;
transform: translateX(-405px);
}

.wraper .register{
    position: absolute;
    transition: none;
    transform: translateX(400px);

}
.wraper.active .register{
    transition: transform .18s ease;
    transform: translateX(0);

}

.wraper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    
}


.input-box input::placeholder{

    color: white;

}

.input-box i {
    position: absolute;
    right: 20x;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label{
    color: #b1b1b1;
    accent-color: #ffff;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.btn{
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register-link,
.login-link{
    font-size: 15PX;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p ,
.login-link p {
    color: #b1b1b1;
    
}

.register-link p a,
.login-link p a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;

}


@media (max-width: 460px) {
    .header-nav {
        padding: 20px 20px;
        flex-direction: row; /* Mantiene los elementos en una fila */
        justify-content: space-between; /* Espacio entre elementos */
        align-items: center; /* Centra verticalmente */
    }

    
    .navegation {
        display: flex; /* Mantiene los enlaces y el botón en línea */
        align-items: center; /* Alinea verticalmente */
    }

    .navegation a {
        margin: 0 10px; /* Espacio horizontal entre enlaces */
        font-size: 1rem; /* Ajusta el tamaño de fuente */
    }

    .navegation .btnlogin {
        width: auto; /* Ajusta el ancho */
        margin-left: 10px; /* Espacio a la izquierda del botón */
        font-size: 1.1rem; /* Aumenta el tamaño de fuente */
        padding: 10px 15px; /* Aumenta el padding para hacerlo más grande */
    }
}